  <div class="col-md-3">
      <img src="<%=(event.event_images.first.trial) %>" alt="..." class="img-thumbnail">
      <div class="card-block">
        <h4 class="card-title"><%= link_to event.title, event %></h4>
      </div>
    
  </div>


 

