<div class="col-md-3">
  <div class="card">
  <% event.event_images.each do |image| %>


    <%= link_to image_tag(image, class: "card-img-top img-fluid"), image.url %>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= link_to event.title, event %></h4>
      <p class="card-text"><%= event.location %></p>
      <%= link_to 'See more', event, class: "btn btn-primary" %>
    </div>
  </div>
</div>

