<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Events Trending</h1>
    <p class="lead">What are you up to?</p>
    <%= link_to 'Create a New Event', new_event_path %>
  </div>
</div>

<div class="row">
  <%= render @events %>
</div>

    


