// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  // margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  padding: 70px;
}

