<footer class="footer">
  <span class="text-muted">
  <h6>COPYRIGHT © BlackWorks.EST 1987</h6>
    
  </span>
</footer>



<!-- <nav class="navbar navbar-light bg-faded">
  <div class="container">
    <ul class="nav navbar-nav foot">
      <li class="nav-item">
        <p>COPYRIGHT © BlackWorks.EST 1987</p>
      </li>
      <li class="nav-item">
        <p>Contact Us</p>
      </li>
    </ul>
  </div>
</nav>
 -->





   