<div class="container-fluid footer">
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <p>COPYRIGHT © BlackWorks.EST 1987</p>
        </div>
        <div class="col-xs-4 col-sm-4  text-center"></div>
            
        
        <div class="col-xs-4 col-sm-4 right">
            <p>Contact Us</p>
        </div>
    </div>

   