  <div class="row">
  <div class="container mastersmall">
    <div class="col-xs">
      
      <div class="container titlelitte"><%= link_to "Register", new_user_registration_path %></div>
    </div>
    <div class="col-xs">
      
        <h1 class="hvr-bob" id="whatup">What Up</h1>
        <p class="subtitle">Join the partay</p>
      
    </div>
    <div class="col-xs">
      
      <div class="container titlelitte"><%= link_to "Explore", events_path %></div>
    </div>
    </div>
  </div>
  </div>

  

