<div class="container">
  <div class="row">
    <div class="col-xs">
      <a class="btn btn-primary" href="/users/sign_up" role="button">Register</a>
    </div>
    <div class="col-xs">
      
        <h1>What Up</h1>
        <p class="subtitle">Join the partay</p>
      
    </div>
    <div class="col-xs">
      <a class="btn btn-primary" href="/events" role="button">Explore</a>
    </div>
    </div>
  </div>
</div>

