<div class="container">
<a class="btn btn-primary" href="/users/sign_up" role="button">Register</a>
<h1>What Up</h1>
<p>Join the partay</p>
<a class="btn btn-primary" href="/events" role="button">Explore</a>
</div>




